body{
    background-image: url(jodhpur.jpeg);
    background-size: cover;
    font-weight:bold;
    font-family: 'Barlow Condensed'
}

@media(max-width:600px){
    div{
        font-size: 30px;
    }
    body{
        font-size: 20px;
        background-image: url(jodhpuredit.jpeg);
        background-size: cover;
        /* background-image: none; */
    }
}