body{
    /* background-image: url(skills.png); */
    font-weight:bold; 
    background-size: cover;
    font-family: 'Barlow Condensed'
}
div{
    font-size: 60px;
}

h1{
    font-size: 100px;
    justify-content: right;
    color: red;
}

@media(max-width:400px){
    h1{
        font-size: 60px;
    }
    div{
        font-size: 40px;
    }
    
    
}